/*  HEADER  */

.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8b1f1f;
  }
  
  .header-li {
    float: left;
  }
  
  .header-li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* Pour changer la couleur de la navbar quand on passe la souris  */
  .header-li a:hover {
    background-color: #C879FF;
  }


  .all{
    display: flex;
    justify-content: space-evenly;
    
  }